body {
  display: flex;
  justify-content: center;
}

.App {
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

textarea {
  margin: 0 0 20px 0;
  width: 300px;
}

input, textarea {
  display: block;
  box-sizing: border-box;
  padding: .54688rem .875rem;;
  border: none;
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
  background-color: transparent;
  font: inherit;
  min-width: 80px;

  --border-color: #333;
  --border-focus-color: blue;
  --box-shadow-color: rgba(33, 115, 255, .25);
  --box-shadow: 0 0 0 0.25rem var(--box-shadow-color);
  --placeholder-color: #666;
  --background-color: white;
  --color: #222;

  display: block;
  box-sizing: border-box;

  border: .0625rem solid var(--border-color);

  background-color: #fff;
  border-radius: 0.42rem;
  box-shadow: none;
  color: var(--color);
  background-color: var(--background-color);
  font: 14px/24px Open Sans, sans-serif;
  transition: color 0.15s ease, background-color 0.15s ease,
      border-color 0.15s ease, box-shadow 0.15s ease;

}

button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  color: #0d6efd;
  border-color: #0d6efd;

  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  margin-bottom: 1rem!important;

  outline: none;
}

textarea.active,
textarea:active,
textarea:focus,
textarea:focus-within {
  border-color: var(--border-focus-color);
  box-shadow: var(--box-shadow);
}

textarea::placeholder {
    color: var(--placeholder-color);
  }

  textarea svg {
    fill: var(--placeholder-color);
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
